.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  font-size: 1.3rem;
  line-height: 70px;
  font-weight: bold;
  z-index: 5;
  cursor: pointer;
  border: 3px solid white;
}

  
